<div class="jumbotron">
	<h1>Career Development</h1>
	<p>The goal of Career Development Committee is to provide opportunities for Ascend members to expand their knowledge and experiences in their interested career fields. The committee focuses on organizing industry-related events ,such as educational series on business-related professions and workshops on practical skills, to the members. Furthermore, the committee keeps members updated on professional opportunities and provides additional resources to prepare members for those opportunities.</p>
</div>