<div class="jumbotron about" ng-init="count=0">
	<h1 class="textBox title" >A Little Bit About Us</h1>

	<p class="textBox mainText" ng-click="count=count+1">Ascend Cornell is a student organization of Ascend student members enrolled at Cornell University, operating under the guidance and sponsorship of New York Metro Regional Council. We provide a forum for research, professional development, education, knowledge sharing, and the advocacy of the highest ethical and best business practices in all industries. Our mission is to build communication among student and professional members, assist students in the management of their career objectives and opportunities, and eventually prepare them for the current and future leadership roles.</p>

	<img ng-show="count>8" src="https://scontent-yyz1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10403165_879433002082597_4413819971226409202_n.jpg?oh=7a4cb13df2230ad31ae2403d2fb23b34&oe=5769AB6C">
</div>