<div class="jumbotron">
	<h1>Events</h1>

	<div>
	  <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
	    <uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
	      <img ng-src="{{slide.image}}" style="margin:auto; height:300px;"> </img>
	      <div class="carousel-caption">
	        <h2 style="color:white">{{slide.text}}</h2>
	      </div>
	    </uib-slide>
	  </uib-carousel>
	</div>

	<p class="textBox mainText"> We strive to offer career networking opportunities, social, and mentoring resources for the Asian and Pacific Islander communities at Cornell University who have an interest in business topics and career opportunities in the U.S. Please check out some of our previous events!</p>
 
</div>

