<div class="jumbotron join">
	<h1 class="textBox title"> Join Cornell Ascend!</h1>
	<diV class="textBox mainText">
		<p> We provide</p>
		<ul>
			<li> Networking opportunities for informal, personal contacts with active fellow members</li>
			<li> Leadership through special projects to meet student needs (i.e., career planning, industry research, and resume or cover letter workshops)</li>
			<li> Access to research and information services through the research department of the Ascend Foundation.</li>
			<li> An opportunity to influence the future of all the business professions...</li>
		</ul>
	</diV>

		<a href="#/join?scrollTo=mail"> <button type="button" class="btn btn-default signUpBtn btn-lg"> Sign up for the Mailing List! </button></a>

</div>

<div class="jumbotron" id="mail" style="padding-top:90px">
	<h2> Mailing List </h2>
	<p> Interested in joining Ascend? Make sure to add your name to the mailing list below to get e-mails about our club events and opportunities! </p>
	<div class="input-group">
	  <input type="text" class="form-control" ng-model="first" placeholder="First Name">
	  <input type="text" class="form-control" ng-model="last" placeholder="Last Name">
	  <input type="text" class="form-control" ng-model="email" placeholder="E-mail (e.g. abs123@cornell.edu)">
	  <button type="button" class="btn btn-default navbar-btn" ng-click="add()">Join!</button>
	</div>
</div>