<div class="jumbotron">
	<h1> Mentorship </h1>
	<h2> Mentoring Future Leaders</h2>
	<p> The 12-month mentoring program provides the tools necessary to enhance leadership, teaching and coaching skills. Mentors have the opportunity to strengthen their knowledge base and improve communication skills while gaining satisfaction and recognition for helping mentees gain insight that help them develop professionally. </p>
	<h2>One-To-One Mentoring</h2>
	<p>The purpose of this program is to advance leadership development using a facilitated and defined mentoring process. This process is based on accredited and established research that leverages one-to-one relationships. The program is a structured process with a 10-week curriculum consisting of four group workshops, followed by a period of facilitated learning, after which mentors and mentees meet one-on-one.</p>
	<h2>Four Principles of the Workshops</h2>
	<ul>
		<li><p>Building Foundations – reinforcing the fundamentals of mentoring</p></li>
		<li><p>Understanding Feedback – learning how to give and receive feedback</p></li>
		<li><p>Executive Presence and Leadership – maximizing contributions through better professional communication</p></li>
		<li><p>Teamwork and Community – working together and keeping the cycle going</p></li>
	</ul>
	<h2>View from the Top</h2>
	<p>These periodic events provide groups of Pan-Asian professionals valuable insight and knowledge in two formats. In the first approach, a guest speaker, typically a seasoned executive, presents a topic of interest, such as “Developing an Effective Internal and External Network.” The second format includes a panel consisting of executives who participate in moderated discussions that include sharing personal experiences, a question and answer segment and the opportunity for attendees to receive critical feedback on communications, interpersonal relationships, dealing with management, and leadership skills.</p>
</div>