<div class="jumbotron">
	<h1>Senior Student “Words of Wisdom” Panel</h1>
	<p> Don’t know what to do for your career?</p>
	<p>Don’t know where your interest is?</p>
	<p>Want advice on making the most of your internship?</p>
	<p>Want to be more prepared for future internship and full-time recruitment?</p>

	<img src="resources/events/seniorPanel.jpg"></img>

	<h2>Previous Panels</h2>
	<div>
		<h3>Senior Student “Words of Wisdom” Panel</h3>
		<p>Hosted by Ascend Cornell Student Chapter, Hospitality Student International</p>
		<p>Co-sponsored by Global China Connection and Cornell Actuarial Society</p>
		<p>Monday, April 13th, 2015</p>
		<p>4:45pm-5:45pm</p>
		<p>Statler Hall, Room 291</p>

		<h3>Panelists:</h3>
		<ul>
			<li><p> Bohan Yu, School of Hotel Administration’15, Banking/Finance: Deutsche Bank, US Airways </p></li>
			<li><p> Luyan Sun, College of Engineering’15, Technology/Operations Risk: Deloitte, Morgan Stanley </p></li>
			<li><p> Adam Garland, School of Industrial and Labor Relations’15, Consulting: Kurt Salmon, Pearl Meyer and Partners </p></li>
			<li><p> Mengxia Wang, College of Art and Science’15, Actuary:Towers Watson, Aon Hewitt </p></li>
		</ul>
		<p>No RSVP needed! See you there!</p>
	</div>
</div>
