<div class="jumbotron">
	<h1>Senior Student “Words of Wisdom” Panel</h1>
	<div class="textBox mainText">
		<p> Don’t know what to do for your career?<br>
		Don’t know where your interest is?<br>
		Want advice on making the most of your internship?<br>
		Want to be more prepared for future internship and full-time recruitment?</p>
	</div>
</div>

<div class="jumbotron">
	<h2>Previous Panels</h2>
	<div>
		<div style="text-align:center">
		<h3>Senior Student “Words of Wisdom” Panel 2015</h3>
		<hr></hr>
		<p>Hosted by Ascend Cornell Student Chapter, Hospitality Student International <br> 
		Co-sponsored by Global China Connection and Cornell Actuarial Society <br>
		</p>
		<p>Monday, April 13th, 2015 <br>
			4:45pm-5:45pm <br>
			Statler Hall, Room 291</p>

		<img src="resources/events/seniorPanel.jpg" style="height:250px"></img>

		<h3>Panelists:</h3>
		<ul>
			<li>Bohan Yu, School of Hotel Administration’15, Banking/Finance: Deutsche Bank, US Airways </li>
			<li>Luyan Sun, College of Engineering’15, Technology/Operations Risk: Deloitte, Morgan Stanley </li>
			<li>Adam Garland, School of Industrial and Labor Relations’15, Consulting: Kurt Salmon, Pearl Meyer and Partners</li>
			<li>Mengxia Wang, College of Art and Science’15, Actuary:Towers Watson, Aon Hewitt </li>
		</ul>
		<p>No RSVP needed! See you there!</p>
		<div>
	</div>
</div>
